.content
	.about-us-images
		img(src="./img/oren.jpg", alt="")
		img(src="./img/yossi.jpg", alt="")
		.subscribe
			h6 Oren and Yossi
	.about-us-content
		p First opened in 2009, Shaggy Hair Studio is one of New York's fastest rising full-service salons, directed by long-time friends and artistic collaborators Oren Lazanski and Yossi Shaar. Nestled in the upscale neighborhood of the Upper East Side in New York City, and easily accessible through mass transit, the luxurious space is truly a reflection of both Oren and Yossi's trend-setting styles; a welcoming and hip environment that inspires and caters to its exclusive clientele.
		p As a full-service Salon, Shaggy's offers full service makeovers that include hair cuts and styling for both men and women, hair color, highlights, perms, Keratin straightening (OSHA formaldehyde safe) and other conditioning treatments, as well as makeup services that include L'Oreal Professional products, and more. Our professional team of stylists use only the best, top of the line products, restorative shampoos, conditioners, and treatments.
	.about-video
		.youtube-video-container
				.youtube-video
					|<iframe width="560" height="315" src="https://www.youtube.com/embed/43huYB0QqA4" frameborder="0" allowfullscreen></iframe>
	.about-us-content
		p Featured in Allure, Glamour and Time Out, Shaggy specializes in transforming dull, flat hair and appearance using our special hydration therapy through an innovative restorative procedure to create a healthy, vibrant and sexy look.
		p In our comfortable and relaxing studio, together with our experienced team of stylists from Israel, Europe, Argentina and Brazil, we combine uptown chic with downtown cache making everyday a good hair day. Our sophisticated and beauty conscious clients are turning to us to enhance and maximize their professional and everyday appearance.
		p.slogan Come for your free consultation today!