<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Shaggy Hair Studio | Uptown chic meets Downtown cool
	link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="index.css")
body
	.nav-before
	nav
		.container
			.nav-button
				i.fa.fa-bars
			.nav-logo
				a(href="/")
					img(src="./img/shaggy-nav-logo.png", alt="Shaggy nav logo")
				p.nav-logo-phone <i class="fa fa-phone"></i> 212 772 2288
			.nav-links
				ul
					li
						a(href="#") Services
					li
						a(href="#") Reviews
					li
						a(href="#") Press
					li
						a(href="#") Gallery
					li
						a(href="#") About Us
					li
						a(href="#" class="ScrollToContact") Contact
	include ./main.jade
	//- include ./service.jade
	.homepage-prefooter
		.container
			h5 Uptown Chic Meets Downtown Cool.
			.map-with-form
				.contact-form
					form
						.input-field.name
							p.main-label Name 
							.input-container
								input(type="text")
								label First Name
							.input-container
								input(type="text")
								label Last Name
						.input-field.email
							p.main-label Email Address
							.input-container
								input(type="text")
						.input-field.phone
							p.main-label Phone number
							.input-container.three-digits
								input(type="text")
								label (###)
							.input-container.three-digits
								input(type="text")
								label ###
							.input-container.three-digits
								input(type="text")
								label ###
						.input-field.message
							p.main-label Message
							.textarea-container
								textarea
						button(type='submit') Contact us
				.map
					.map-container(id="map")


	footer
		.container
			.footer-addres
				p 1405 third ave new york, ny 10075 between e 79th and e 80th st
			.footer-phone
				p 212 772 2288
			.footer-schedule
				p <strong> monday-friday </strong> 8 am-8 pm
				p <strong> saturday-sunday </strong> 10 am-8
	.yelp-wiget
		a(href="http://www.yelp.com/biz/shaggy-hair-studio-new-york", target="_blank")
			img(src="./img/yelp.png" alt='Yelp wiget')
	script(type="application/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	|<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	script
		include ./js/index.js
