<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Shaggy Hair Studio | Uptown chic meets Downtown cool
	link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="index.css")
body
	nav
		.nav-button
			i.fa.fa-bars
		.nav-links
			ul
				li
					a(href="#") Services
				li
					a(href="#") Reviews
				li
					a(href="#") Press
				li
					a(href="#") Gallary
				li
					a(href="#") About Us
				li
					a(href="#") Contact