<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Shaggy Hair Studio | Uptown chic meets Downtown cool
	link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
	link(rel="stylesheet", href="index.css")
body
	.nav-before
	nav
		.container
			.nav-button
				i.fa.fa-bars
			.nav-logo
				img(src="./img/shaggy-nav-logo.png", alt="Shaggy nav logo")
				p.nav-logo-phone <i class="fa fa-phone"></i> 212 772 2288
			.nav-links
				ul
					li
						a(href="#") Services
					li
						a(href="#") Reviews
					li
						a(href="#") Press
					li
						a(href="#") Gallery
					li
						a(href="#") About Us
					li
						a(href="#") Contact
	.landing
		.container
			.landing__info
				.logo
					img(src="./img/shaggy.png", alt="Shaggy logo")
				.adress
					p 1405 third ave new york, ny 10075 between e 79th and e 80th st
				.phone
					.number
						p 212 772 2288
					p call us
				.schedule
					.days
						p.day monday-friday
						p.time 8 am-8 pm
					.days
						p.day saturday - sunday
						p.time 10 am-8 pm
			.landing__loreal-logo
				img(src="./img/loreal.png", alt="Loreal logo")
			.landing__footer
				p Upper East Side Hair Salon
	.content
		.latest-news
			.content-box-header
				h5.latest-news-h5 Latest news
			.fb-resize
			|<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "https://connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=747195531978253&amp;id=130935616937584&amp;substory_index=0" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/permalink.php?story_fbid=747195531978253&amp;id=130935616937584&amp;substory_index=0"><p>Our client Donets her hair for &#039;looks for love&#039; ,and another client touched by it and paid for the service ....there is amazing people in this world</p>Posted by <a href="https://www.facebook.com/pages/Shaggy-Hair-Studio/130935616937584">Shaggy Hair Studio</a> on <a href="https://www.facebook.com/permalink.php?story_fbid=747195531978253&amp;id=130935616937584&amp;substory_index=0">27 Апрель 2014 г.</a></blockquote></div></div>
		.video
			.content-box-header
				h5.video-h5 America's Best
				h4.video-h4 Best of New York
			.youtube-video-container
				.youtube-video
					|<iframe width="560" height="315" src="https://www.youtube.com/embed/43huYB0QqA4" frameborder="0" allowfullscreen></iframe>
		.reviews
			.content-box-header
				h5 Testimonials
			.review
				.review__avatar
					img(src="img/avatar.jpg", alt="Avatar")
				.review__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium rerum optio expedita harum laborum voluptatem aut veritatis impedit laudantium, quis! Nemo placeat voluptates modi eligendi labore rerum. Veniam, et cumque, illo eius ratione totam voluptatibus quidem, incidunt corporis quasi pariatur!
				.review__subscribe
					p Ashley S.
				.review__stars
					ul
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
			.review
				.review__avatar
					img(src="img/avatar.jpg", alt="Avatar")
				.review__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium rerum optio expedita harum laborum voluptatem aut veritatis impedit laudantium, quis! Nemo placeat voluptates modi eligendi labore rerum. Veniam, et cumque, illo eius ratione totam voluptatibus quidem, incidunt corporis quasi pariatur!
				.review__subscribe
					p Ashley S.
				.review__stars
					ul
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
			.review
				.review__avatar
					img(src="img/avatar.jpg", alt="Avatar")
				.review__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium rerum optio expedita harum laborum voluptatem aut veritatis impedit laudantium, quis! Nemo placeat voluptates modi eligendi labore rerum. Veniam, et cumque, illo eius ratione totam voluptatibus quidem, incidunt corporis quasi pariatur!
				.review__subscribe
					p Ashley S.
				.review__stars
					ul
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
			.review
				.review__avatar
					img(src="img/avatar.jpg", alt="Avatar")
				.review__body
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium rerum optio expedita harum laborum voluptatem aut veritatis impedit laudantium, quis! Nemo placeat voluptates modi eligendi labore rerum. Veniam, et cumque, illo eius ratione totam voluptatibus quidem, incidunt corporis quasi pariatur!
				.review__subscribe
					p Ashley S.
				.review__stars
					ul
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
						li
							i.fa.fa-star
			p.reviews__more
				a(href="$") more reviews
	.magazine-links
		.container
			h4 As seen in...
			.imgs
				a(href="#", target="_blank")
					img(src="./img/timeout_logo.jpg", alt="")
				a(href="#", target="_blank")
					img(src="./img/allure_printlogo.gif", alt="")
				a(href="#", target="_blank")
					img(src="./img/logo_glamour.png", alt="")
	.homepage-prefooter
		.container
			h5 Uptown Chic Meets Downtown Cool.
			.map-with-form
				.contact-form
					form
						.input-field.name
							p.main-label Name 
							.input-container
								input(type="text")
								label First Name
							.input-container
								input(type="text")
								label Last Name
						.input-field.email
							p.main-label Email Address
							.input-container
								input(type="text")
						.input-field.phone
							p.main-label Phone number
							.input-container.three-digits
								input(type="text")
								label (###)
							.input-container.three-digits
								input(type="text")
								label ###
							.input-container.three-digits
								input(type="text")
								label ###
						.input-field.message
							p.main-label Message
							.textarea-container
								textarea
						button(type='submit') Contact us
				.map
					.map-container(id="map")


	footer
		.container
			.footer-addres
				p 1405 third ave new york, ny 10075 between e 79th and e 80th st
			.footer-phone
				p 212 772 2288
			.footer-schedule
				p <strong> monday-friday </strong> 8 am-8 pm
				p <strong> saturday-sunday </strong> 10 am-8
	.yelp-wiget
		a(href="http://www.yelp.com/biz/shaggy-hair-studio-new-york", target="_blank")
			img(src="./img/yelp.png")
	script(type="application/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	|<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	script
		include ./js/index.js
