

.content
	.content-header
		h1 Reviews
	.reviews-content
		.review
			.review_container
				.review__header
					.from
						img(src="https://ssl.gstatic.com/s2/oz/images/logo/2x/googleplus_color_33-99ce54a16a32f6edc61a3e709eb61d31.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
		.review
			.review_container
				.review__header
					.from
						img(src="http://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/e0bcd848f6ae/assets/img/structural/header_logo.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
		.review
			.review_container
				.review__header
					.from
						img(src="https://ssl.gstatic.com/s2/oz/images/logo/2x/googleplus_color_33-99ce54a16a32f6edc61a3e709eb61d31.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
		.review.best-review
			.review_container
				.review__header
					.from
						img(src="https://ssl.gstatic.com/s2/oz/images/logo/2x/googleplus_color_33-99ce54a16a32f6edc61a3e709eb61d31.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
		.review.best-review
			.review_container
				.review__header
					.from
						img(src="http://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/e0bcd848f6ae/assets/img/structural/header_logo.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
							li.no-star.no-star
								i.fa.fa-star
		.review
			.review_container
				.review__header
					.from
						img(src="http://aws1-images2.citysearch.net/jawr/reinvent/img/cb2419967867/assets/reinvent/img/citysearch/logo_footer.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
		.review
			.review_container
				.review__header
					.from
						img(src="https://ssl.gstatic.com/s2/oz/images/logo/2x/googleplus_color_33-99ce54a16a32f6edc61a3e709eb61d31.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
		.review
			.review_container
				.review__header
					.from
						img(src="https://ssl.gstatic.com/s2/oz/images/logo/2x/googleplus_color_33-99ce54a16a32f6edc61a3e709eb61d31.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
		.review
			.review_container
				.review__header
					.from
						img(src="https://ssl.gstatic.com/s2/oz/images/logo/2x/googleplus_color_33-99ce54a16a32f6edc61a3e709eb61d31.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
		.review
			.review_container
				.review__header
					.from
						img(src="https://ssl.gstatic.com/s2/oz/images/logo/2x/googleplus_color_33-99ce54a16a32f6edc61a3e709eb61d31.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
		.review
			.review_container
				.review__header
					.from
						img(src="https://ssl.gstatic.com/s2/oz/images/logo/2x/googleplus_color_33-99ce54a16a32f6edc61a3e709eb61d31.png")
					.date
						p 2 month ago
				.review__content
					.review__avatar
						img(src="./img/avatar.jpg")
					p.review-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quas non, dolore debitis dolores, quos possimus ducimus, at esse, ratione beatae. Itaque vero accusantium quas facilis distinctio nobis, dolor, quam?
				.review__footer
					.name 
						a(href="#") Lorem I.
					.stars
						ul
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
							li.no-star
								i.fa.fa-star
		
		
		
