.content
	.content-header
		h1 Services/Prices
	.services
		.services-shaggy-logo
			img(src="./img/shaggy-black.png", alt="Shaggy logo")
		.service-block
			h3 Wash, Cut, Blow
			table
				tr.head
					td  
					td Owners
					td Stylists
				tr
					td.service Wash, Cut & Blow
						p.thin (women)
					td.price 100
					td.price.price 90
				tr
					td.service Wash & Cut 
						p.thin (Men)
					td.price 55
					td.price 45
				tr
					td.service Blow-dry
						p.thin (use of any hot tools extra $5-10)
					td.price 40
					td.price 40
				tr
					td.service Boys 
						p.thin (under ten years of age)
					td.price 45
					td.price 40
				tr
					td.service Girls 
						p.thin (under ten years of age)
					td.price 80
					td.price 70
				tr
					td.service Bangs Cut 
						p.thin (complimentary for our clients)
					td.price 15
					td.price 15
				tr
					td.service Up-do 
						p.thin (Brides are extra)
					td.price 85
					td.price 85
				tr
					td.service Make-Up 
						p.thin (Brides are extra)
					td.price 85
					td.price 85
		.service-block
			h3 
			table
				tr.head
					td  
					td Owners
					td Stylists
				tr
					td.service Single process
					td.price 85
					td.price 85
				tr
					td.service INOA Color
					td.price 85
					td.price 85
				tr
					td.service Half Head of Highlights
					td.price 85
					td.price 85
				tr
					td.service Full Head of Highlights
					td.price 85
					td.price 85
				tr
					td.service L'Oreal Professional Deep Conditioning 
					td.price 25-50
					td.price 25-50
		.service-block
			h3 Treatment
			table
				tr.head
					td  
					td Owners
					td Stylists
				tr
					td.service Glaze
					td.price 85
					td.price 85
				tr
					td.service Keratin treatment
					td.price 85
					td.price 85
				tr
					td.service Extensions
					td.price 85
					td.price 85
				tr
					td.service Full Head of Highlights
					td.price 85
					td.price 85
				tr
					td.service L'Oreal Professional Deep Conditioning 
					td.price 25-50
					td.price 25-50
				tr
					td.service Full Head of Highlights
					td.price 85
					td.price 85
				tr
					td.service Full Head of Highlights
					td.price 85
					td.price 85

	.services-footer
		h6 For our professional hair care line please visit our salon.
		p Prices may vary according to length and texture of the hair