.content
	.content-header
		h1 Services/Prices
	.services
		.service-block
			h3 Wash, Cut
			table
				tr.head
					td  
					td Owners
					td Stylists
				tr
					td.service Women
					td.price 60
					td.price.price 50
				tr
					td.service Man
					td.price 55
					td.price 45
		.service-block
			h3 Children
			table
				tr.head
					td  
					td Owners
					td Stylists
				tr
					td.service Boys
					td.price 45
					td.price 40
				tr
					td.service Girls
					td.price 80
					td.price 70
		.service-block
			h3 Additionally
			table
				tr.head
					td  
					td Owners
					td Stylists
				tr
					td.service Blow-dry
					td.price 40
					td.price 40
				tr
					td.service Up-do
					td.price 85
					td.price 85
				tr
					td.service Bangs Cut
					td.price 15
					td.price 15
				tr
					td.service Make-Up
					td.price 85
					td.price 85
				tr
					td.service Manicure/ Pedicure
					td.price -
					td.price -
		.service-block
			h3 Color
			table
				tr.head
					td  
					td Owners
					td Stylists
				tr
					td.service Single process
					td.price 85
					td.price 85
				tr
					td.service INOA Color
					td.price 85
					td.price 85
				tr
					td.service Half Head of Highlights
					td.price 85
					td.price 85
				tr
					td.service Full Head of Highlights
					td.price 85
					td.price 85
				tr
					td.service L'Oreal Professional Deep Conditioning 
					td.price 25-50
					td.price 25-50
				tr
					td.service Full Head of Highlights
					td.price 85
					td.price 85
				tr
					td.service Full Head of Highlights
					td.price 85
					td.price 85
		.service-block
			h3 Treatment
			table
				tr.head
					td  
					td Owners
					td Stylists
				tr
					td.service Glaze
					td.price 85
					td.price 85
				tr
					td.service Keratin treatment
					td.price 85
					td.price 85
				tr
					td.service Extensions
					td.price 85
					td.price 85
				tr
					td.service Full Head of Highlights
					td.price 85
					td.price 85
				tr
					td.service L'Oreal Professional Deep Conditioning 
					td.price 25-50
					td.price 25-50
				tr
					td.service Full Head of Highlights
					td.price 85
					td.price 85
				tr
					td.service Full Head of Highlights
					td.price 85
					td.price 85

	.services-footer
		h6 For our professional hair care line please visit our salon.
		p Prices may vary according to length and texture of the hair