@import "kouto-swiss"

meyer-reset()

body
	font-family Verdana, sans-serif

nav
	position fixed
	width 100%
	padding em(10) em(0)
	background-color none
	z-index 10000
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	.container
		gs('fluid')
.nav-before{
	background-color rgba(255, 255, 255, 0.4)
	width 100%
	height 300%
	position fixed
	z-index 20
	display none
}
.fixed-nav
	position fixed
	.nav-button
		i
			color white
.nav-logo
	display none
.nav-button
	i
		font-size em(45)
		cursor pointer
		color white
		background-color black
		padding 5px 10px
.nav-links
	display none
	margin em(5) 0 0
	padding em(5) em(20)
	background-color black
	li
		padding em(15) em(5)
		text-align center
	a
		text-decoration none
		color white
		font-weight bold
		transition color 0.12s ease-out 0.09s

+media-query( only screen, min-device-width 320px, max-device-width 667px)
	.nav-button
		i
			font-size em(100)
			color white
	.nav-logo
		display none
	.nav-links
		col(12)
		display none
		margin 0
		li
			padding em(45) 0
		a
			font-size em(50)


+media-query( all, min-device-width 1080px, min-width 1080px  )
	nav
		position absolute
		.container
			gs('fixed', 12, 60px, 30px)
	.fixed-nav
		position fixed
		background-color black
	.nav-button
		display none
	.nav-logo
		col(6)
		display none
		float left
		img
			position relative
			width 150px
			margin-top 7px
			float left
		.nav-logo-phone
			position relative
			float left
			display block
			font-weight 600
			color white
			font-size em(14)
			line-height em(50)
			left em(30)
	.nav-links
		col(12)
		background-color rgba(255, 255, 255, 0)
		float right
		padding em(5) em(0)
		margin-right 0
		ul
			float right
		li
			float left
			padding-left em(15)
			font-size em(13)
			font-weight bold
		li:last-child
			padding-right 0
		a
			color white
		a:hover
			color #B9B9B9
	.nav-links-with-logo
		col(6)
		margin-right 0
		float right


.landing
	background black
	padding em(10)
	padding-top em(150)
	background none
	background-color black
	.container
		background url('./img/shaggy-background-mobile.jpg')
		background-position 50%
		background-repeat no-repeat
		background-size cover
		clearfix()
.landing__info
	color white
	text-align center
	font-size em(14)
	position relative
	top -130px
	margin 0
	padding 0
	gs('fluid')
	.adress
		margin 15px 0
		line-height 1.3
		text-transform uppercase
	.phone
		p
			padding-bottom em(5)
		.number
			font-weight bold
	.phone .number
		width 50%
		display block
		background-color white
		color black
		font-size rem(20)
		padding em(5) 0
		border-radius 10px
		margin 0 auto
		margin-bottom em(5)
		p
			padding 0
			margin 0
	.schedule
		clearfix()
		padding em(10) 0
		text-transform uppercase
		.day
			font-weight bold
		.days
			col(6)
			max-width 100%
.landing__footer
	col(12)
	color white
	font-size 90%
	background-color black
	padding-top em(10)
.landing__footer-slogan
	col(6)
	margin em(32) 0 0
	text-align center
.landing__loreal-logo
	col(6)
	float right
	text-align right
	margin-right 0


+media-query( only screen, min-device-width 320px, max-device-width 667px)
	.landing
		padding-top 330px
	.landing__info
		top -330px
		padding-top em(30)
		.logo
			img
				width 40%
		.phone p
			font-size rem(40)
		.phone .number p
			font-size rem(45)
		.adress
			font-size em(30)
			padding 0 em(100)
			margin em(25) 0
		.schedule
			p
				font-size em(30)
	.landing__footer
		font-size em(25)
		background-color black
		padding em(10) 0
	.landing__loreal-logo
		col(12)
		text-align center
		padding em(10) 0
	.landing__footer-slogan
		col(12)

+media-query( all, min-device-width 1080px, min-width 1080px  )
	.landing
		background-position top center
		background-attachment fixed
		padding-top 15px
		background url('./img/shaggy-background.jpg')
		background-position top center
		background-repeat no-repeat
		background-size cover
		margin-bottom 0
		.container
			gs('fixed', 12, 60px, 30px)
			background none

	.landing__footer
		col(12)
		background none
	.landing__footer-slogan
		col(3.7)
		margin em(32) 0 0
	.landing__loreal-logo
		text-align right
	.landing__info
		col(4)
		top 13px
		margin-left 0
		.phone .number
			font-size em(17)
		.schedule
			.days
				col(12)
				margin-left 0
				margin-right 0
				padding-bottom em(15)

.sub-landing-arrow
	gs('fluid')
	.arrow-container
		text-align center
		padding-top em(5)
		padding-bottom em(30)
		font-size 300%
		i
			cursor pointer
.content
	gs('fluid')
	clearfix()
	h5
		font-weight bold
		position relative
		font-family serif
		font-weight 400
		font-size em(45)

	h4
		text-transform uppercase
		font-weight bold
		font-size em(16)
	.content-box-header
		padding em(20) 0
		text-align center
	.latest-news
		col(12)
		text-align center
	.video
		col(12)
		text-align center
		.youtube-video-container
			width 95%
			+media-query( only screen, min-device-width 320px, max-device-width 667px)
				width 60%
			margin 0 auto
			display block
		.youtube-video
			position relative
			padding-bottom 56.25%
			padding-top 20px
			height 0
		.youtube-video iframe
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background-color #D6D6D6
			border 1px solid #DADADA
	.second-panel-button
		col(12)
		text-align center
		padding em(40) 0
		a
			background-color black
			border-radius 100px
			padding em(10) em(20)
			text-decoration none
			color white
			transition-property background-color color
			transition-duration 0.6s
		i
			padding em(0) em(10)
		a:hover
			background-color white
			color black
			border 1px solid black
.panel2-conteiner
	clearfix()
+media-query( all, min-device-width 1080px, min-width 1080px  )
	.content
		gs('fixed', 12, 60px, 30px)
		h5
			font-size em(38)
		.latest-news
			col(6)
		.video
			col(6)
		.content-box-header
			padding em(15) 0 0
			margin-bottom em(15)
		.latest-news-h5
			margin-bottom em(14)
	.reviews
		gs('fixed', 12, 60px, 30px)
		.review
			col(6)
.panel3
	padding-top em(30)
	.panel3-image
		text-align center
		padding 0 0 em(10)
		img
			height 70px
	h5
		text-align center
		font-size 130%
		+media-query( only screen, min-device-width 320px, max-device-width 667px)
			font-size 200%
		padding em(15) 0
		font-weight bold
		font-family sans
	.review-more-link
		text-align center
		padding em(20) 0 0
		a
			display inline-block
			padding em(20) 0 em(20)
			color #898988
			text-decoration none
			+media-query( only screen, min-device-width 320px, max-device-width 667px)
				font-size em(30)
	.magazine-links
		padding em(50) 0 0
		margin 0
		text-align center
		h6
			padding em(20) 0 em(20)
			color #898988
			+media-query( only screen, min-device-width 320px, max-device-width 667px)
				font-size em(22)
		img
			height 60px
			padding em(5) em(5)
@import './main-footer.styl'
footer
	.container
		gs('fluid')
	width 100%
	background-color black
	border-top 1px solid #CCCCCC
	color white
	text-align center
	padding em(10) 0
	font-size em(14)
.footer-addres
	col(12)
	p
		text-transform uppercase
		margin em(15) 0
.footer-phone
	col(12)
	p
		font-weight bold
		margin em(15) 0
.footer-schedule
	.footer-schedule-container
		margin em(15) 0
	col(12)
	p
		text-transform uppercase
	strong
		font-weight bold

+media-query( all, min-device-width 1080px, min-width 1080px  )
	footer
		.container
			gs('fixed', 12, 60px, 30px)
	.footer-addres, .footer-phone, .footer-schedule
		col(4)
	

+media-query( only screen, min-device-width 320px, max-device-width 667px)
	.footer-addres p, .footer-phone p, .footer-schedule p
		font-size em(35)

.yelp-wiget
	text-align center
	padding 30px 0 10px

@import './service-table.styl'
@import './about.styl'
@import './reviews.styl'
