@import "kouto-swiss"

meyer-reset()

body
	font-family Verdana, sans-serif
	background-color black

nav
	gs()
	padding em(10) em(5)
	background-color none
.nav-button
	i
		font-size em(45)
		cursor pointer
		color white
.nav-links
	background-color rgba(255, 255, 255, 0.3)
	col(3)
	margin em(5) 0 0
	padding em(5) 0
	li
		padding em(10) em(5)
	a
		text-decoration none
		color white
		transition color 0.12s ease-out 0.09s

+media-query( all, min-width 960px )
	.nav-button
		display none
	.nav-links
		col(8)
		offset(4)
		background-color rgba(255, 255, 255, 0)
		ul
			float right
		li
			float left
			padding-left em(20)
			font-weight bold
		a:hover
			color #B9B9B9